[Unit]
Description=Afterstream Handler
After=network.target

[Service]
Type=simple
WorkingDirectory=<working directory>
ExecStart=/usr/bin/env uvicorn afterstream:app --port <port>
Restart=on-failure
RestartSec=5s
User=<user>

[Install]
WantedBy=default.target